<p id="notice"><%= notice %></p>

<p>
  <b>Object:</b>
  <%= @wp_term_relationship.object_id %>
</p>

<p>
  <b>Term taxonomy:</b>
  <%= @wp_term_relationship.term_taxonomy_id %>
</p>

<p>
  <b>Term order:</b>
  <%= @wp_term_relationship.term_order %>
</p>


<%= link_to 'Edit', edit_wp_term_relationship_path(@wp_term_relationship) %> |
<%= link_to 'Back', wp_term_relationships_path %>
