<h1>Listing wp_commentmeta</h1>

<table>
  <tr>
    <th>Meta</th>
    <th>Comment</th>
    <th>Meta key</th>
    <th>Meta value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wp_commentmeta.each do |wp_commentmetum| %>
  <tr>
    <td><%= wp_commentmetum.meta_id %></td>
    <td><%= wp_commentmetum.comment_id %></td>
    <td><%= wp_commentmetum.meta_key %></td>
    <td><%= wp_commentmetum.meta_value %></td>
    <td><%= link_to 'Show', wp_commentmetum %></td>
    <td><%= link_to 'Edit', edit_wp_commentmetum_path(wp_commentmetum) %></td>
    <td><%= link_to 'Destroy', wp_commentmetum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wp commentmetum', new_wp_commentmetum_path %>
