<p id="notice"><%= notice %></p>

<p>
  <b>Link:</b>
  <%= @wp_link.link_id %>
</p>

<p>
  <b>Link url:</b>
  <%= @wp_link.link_url %>
</p>

<p>
  <b>Link name:</b>
  <%= @wp_link.link_name %>
</p>

<p>
  <b>Link image:</b>
  <%= @wp_link.link_image %>
</p>

<p>
  <b>Link target:</b>
  <%= @wp_link.link_target %>
</p>

<p>
  <b>Link description:</b>
  <%= @wp_link.link_description %>
</p>

<p>
  <b>Link visible:</b>
  <%= @wp_link.link_visible %>
</p>

<p>
  <b>Link owner:</b>
  <%= @wp_link.link_owner %>
</p>

<p>
  <b>Link rating:</b>
  <%= @wp_link.link_rating %>
</p>

<p>
  <b>Link updated:</b>
  <%= @wp_link.link_updated %>
</p>

<p>
  <b>Link rel:</b>
  <%= @wp_link.link_rel %>
</p>

<p>
  <b>Link notes:</b>
  <%= @wp_link.link_notes %>
</p>

<p>
  <b>Link rss:</b>
  <%= @wp_link.link_rss %>
</p>


<%= link_to 'Edit', edit_wp_link_path(@wp_link) %> |
<%= link_to 'Back', wp_links_path %>
