<h1>Listing wp_usermeta</h1>

<table>
  <tr>
    <th>Umeta</th>
    <th>User</th>
    <th>Meta key</th>
    <th>Meta value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wp_usermeta.each do |wp_usermetum| %>
  <tr>
    <td><%= wp_usermetum.umeta_id %></td>
    <td><%= wp_usermetum.user_id %></td>
    <td><%= wp_usermetum.meta_key %></td>
    <td><%= wp_usermetum.meta_value %></td>
    <td><%= link_to 'Show', wp_usermetum %></td>
    <td><%= link_to 'Edit', edit_wp_usermetum_path(wp_usermetum) %></td>
    <td><%= link_to 'Destroy', wp_usermetum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wp usermetum', new_wp_usermetum_path %>
